<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    
    <h1>Welcome to Chatting!</h1>
   	<div>현재 유저 : <div sec:authentication="name" id="name">User</div></div>
	
    <div id="chat">
        <input type="text" id="messageInput" placeholder="Type a message...">
        <button onclick="sendMessage()" class="btn btn-success m-2">Send</button>
        <div id="messages"></div>
    </div>

    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/public', function (message) {
                    showMessage(JSON.parse(message.body).content);
                });
            });
        }

        function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            var messageOrigin = messageInput.value;
            var sender = document.getElementById('name').textContent;
            var message = '[' + sender + '] : ' + messageOrigin;
            
            stompClient.send("/app/chat.sendMessage", {}, JSON.stringify({'content': message}));
            messageInput.value = '';
        }

        function showMessage(message) {
            var messages = document.getElementById('messages');
            var messageElement = document.createElement('div');
            
            messageElement.appendChild(document.createTextNode(message));
            messages.appendChild(messageElement);
        }

        connect();
    </script>
</div>

</body>

</html>
