<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content">
	<script>
		console.log("${monsters}");
	</script>

            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Status</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">UserName</th>
                                    <th scope="col">NickName</th>
                                    <th scope="col">HP</th>
                                    <th scope="col">MP</th>
                                    <th scope="col">AttackRate</th>
                                    <th scope="col">DefenseRate</th>
                                    <th scope="col">EXP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span th:text="${user.userName}"></span></td>
                                    <td><span th:text="${user.nickName}"></span></td>
                                    <td><span th:text="${user.hp}"></span></td>
                                    <td><span th:text="${user.mp}"></span></td>
                                    <td><span th:text="${user.attackRate}"></span></td>
                                    <td><span th:text="${user.defenceRate}"></span></td>
                                    <td><span th:text="${user.exp}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Monster</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">MonsterName</th>
                                    <th scope="col">HP</th>
                                    <th scope="col">MP</th>
                                    <th scope="col">AttackRate</th>
                                    <th scope="col">DefenseRate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="monster : ${monsters}">
						            <td><span th:text="${monster.monsterName}"></span></td>
						            <td><span th:text="${monster.hp}"></span></td>
                                    <td><span th:text="${monster.mp}"></span></td>
                                    <td><span th:text="${monster.attackRate}"></span></td>
                                    <td><span th:text="${monster.defenceRate}"></span></td>
						        </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
</div>

</body>

</html>